@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Book.woff2') format('woff2'),
  url('../fonts/Avenir-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-BookOblique.woff2') format('woff2'),
  url('../fonts/Avenir-BookOblique.woff') format('woff');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Medium.woff2') format('woff2'),
  url('../fonts/Avenir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
  url('../fonts/Avenir-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-HeavyOblique.woff2') format('woff2'),
  url('../fonts/Avenir-HeavyOblique.woff') format('woff');
  font-weight: 800;
  font-style: oblique;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Black.woff2') format('woff2'),
  url('../fonts/Avenir-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src:  url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src:  url('../fonts/Lato-Semibold.woff2') format('woff2'),
  url('../fonts/Lato-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}